# --- Server Settings ---
PORT=3000

# --- Firecrawl (The "Eyes" to scrape websites) ---
# Get this from: https://www.firecrawl.dev/
FIRECRAWL_KEY=firecrawl-token-goes-here

# --- Groq (The "Brain" to find news in the text) ---
# Get this from: https://console.groq.com/
GROQ_KEY=groq-token-goes-here

# --- SQLite (Local Database) ---
# The name of the file that will be created automatically
DATABASE_URL=database-file-goes-here.sqlite